body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f4f4f4;
  height: 100vh;
  background-color: slateblue;
}

.content {
  padding-top: 100px;
  text-align: center;
}

.dropdown-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: #b388ff;
  font-size: 1.2rem;
  cursor: pointer;
}


.dropdown-icon:hover{
 color: white;
}

.dropdown {
  display: flex;
  justify-content: end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  width: 33%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 4px;
  z-index: 1;
  text-align: start;
}
/* checkbox size increase */
input[type="checkbox"] {
  transform: scale(1.5); /* increase size */
  -webkit-transform: scale(1.5); /* Safari */
  transform-origin: center;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown input[type="chekbox"]::placeholder {
  color: #b388ff;
}

.dropdown-content label {
  color: white;
  display: block;
  padding: 5px 0;
}

.dropdown.show .dropdown-content {
  display: block;
}

.search-box {
  position: relative;
  width: 90%;
  /* margin-left: 10%; */
  max-width: 600px;
  align-self: center;
}

/* change the clear 'x' button properties */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* remove default styling */
  height: 14px;
  width: 14px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><line x1='18' y1='6' x2='6' y2='18' stroke='white' stroke-width='2'/><line x1='6' y1='6' x2='18' y2='18' stroke='white' stroke-width='2'/></svg>")
    no-repeat center;
  cursor: pointer;
  position: relative;
  right: -4px; /* shift position */
  color: blue;
}

.search-box input[type="search"] {
  width: 100%;
  padding: 15px 80px 15px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  color: #fff;
  background: #222;
  outline: none;
  box-shadow: 0 4px 8px #333;
  transition: all 0.3s ease;
}

.search-box input[type="search"]::placeholder {
  color: #888;
}

.search-box input[type="search"]:focus {
  background: #1a1a1a;
  box-shadow: 0 4px 8px #b388ff;
}

.search-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  color: #b388ff;
  font-size: 1.2rem;
  /* pointer-events: none; */
  cursor: pointer;
}



.search-icon:hover{
 color: white;

}

.search-type{
  padding: 20px;
  list-style: none;
  display:flex;
  /* flex-direction: row; */
    /* max-width: 500px; */

  justify-content: space-evenly;
  position: relative;
  width: 70%;
  max-width: 500px;
}

.search-type li{
  cursor: pointer;
  font-size: large;
  color: #1a1a1a; 
}

.search-type li:hover{
  /* text-decoration: underline; */
  color:#ff65d8;
}

/* .search-type {
  text-decoration: underline;
} */

h1 {
  color: #1a1a1a;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
